@font-face {
    font-family: "cyberStyle";
    src: url("../fonts/ethnocentric rg.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;  
}

body {
    background: #000 url("../../Background Arena/cyberpunk-urban-scenery_2.jpg") no-repeat fixed center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TelaJogo {
    position: relative;
    background-color: rgba(137, 43, 226, 0);
    width: 80%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/* Arena Cards */

.TelaJogo__arenaCartas {
    background-color: rgba(0, 0, 255, 0);
    position: absolute;

    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.TelaJogo__botoes {
    position: absolute;
    right: 1%;
    width: 140px;
    height: 200px;

    background-color: rgba(128, 255, 0, 0);
    border: none;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.TelaJogo__botoes > button {
    width: 100%;
    height: 42px;
    border: none;
    background-color: #00000000;
    
    cursor: pointer;
    position: relative;
    display: none;
}

.TelaJogo__botoes > button > h1 {
    font-family: "cyberStyle", Arial, Helvetica, sans-serif;
    color: #ffffff85;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#btnIniciarPartida > h1 {
    font-size: medium;
}

#btnIniciarPartida > h1:hover {
    color: #fff;
}

#btnIniciarProxPartida > h1 {
    font-size: smaller;
}

#btnIniciarProxPartida > h1:hover {
    color: #fff;
}

.btnIniciarIMG, .btnProxPartidaIMG {
    width: 100%;
    height: 100%;
}

.TelaJogo__arenaCartas > div:not(.comprarCartas, .TelaJogo__botoes) {
    
    background-color: rgba(51, 49, 49, 0.459);
    border: 3px dashed #000;
    border-radius: 5%;
    height: 100%;
    width: 145px;
}

.comprarCartas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 341.33px;
}

.btnComprarCartas {
    position: absolute;
    border: none;
    background-color: #00000000;
}

.btnComprarCartas > img {
    width: 70%;
}

.btnComprarCartas > img:hover {
    cursor: pointer;
}

.containerPlayer, .campoAdversario {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

}

.containerAdversario > h1 {
    color: #b3b3b3c5;
    font-family: "cyberStyle", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    position: fixed;
    top: 47vh;
    
    margin-left: 22px;
}

.containerPlayer > h1 {
    color: #b3b3b3c5;
    font-family: "cyberStyle", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    position: fixed;
}

.campoPlayer, .campoAdversario {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mesaPlayer__Carta_Arena, .mesaAdversario__Carta_Arena {
    height: 100%;
    width: 100%;
}

/* Virar carta preparar p/ o inicio da partida */
.flip-card_back {
    animation: flip-card_back 0.5s linear forwards;
}

@keyframes flip-card_back {
    from {
        transform-style: preserve-3d;
        transform: rotateY(180deg);
    }

    to {
        transform-style: preserve-3d;
        transform: rotateY(0deg);
    }
}

/* desvirar carta inicio da partida */
.flip-card_front {
   
    animation: flip-card_front 0.8s linear forwards;
}

@keyframes flip-card_front {
    from {
        transform-style: preserve-3d;
        transform: rotateY(180deg);
    }

    to {
        transform-style: preserve-3d;
        transform: rotateY(0deg);
    }
}

/* Config. Jogador */

.TelaJogo__mesaPlayer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0000007c;

    width: 100vw;
    height: 160px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    bottom: 0;
    overflow: hidden;
}

.mesaPlayer__Carta {
    width: 120px;
    height: 100%;
}

.mesaPlayer__CartaImg {
    width: 100%;
    height: 100%;
}

.mesaPlayer__Carta_foco:hover {
    border: 5px solid #000;
}

/* Config. Adversário */

.TelaJogo__mesaAdversario {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0000007c;

    width: 100%;
    height: 160px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    top: 0;
}

.mesaAdversario__Carta {
    height: 100%;
    width: 120px;
    
    position: relative;
}

.mesaAdversario__CartaImg {
    width: 100%;
    height: 100%;
}

/* Lixeira de cartas */

.lixeiraCartas {
    position: fixed;
    right: 11%;
    bottom: 1.5%;
    width: 140px;
    height: 140px;

    background-color: rgba(75, 75, 75, 0.219);
    border: 2px dashed #000;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.lixeiraCartas > p {
    color: #868686c5;
    font-family: "cyberStyle", Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Placar da Partida */
.PlacarPartidas {
    position: fixed;
    left: 7%;
    bottom: 10px;
    width: 240px;
    height: 140px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    text-align: center;
    
    font-family: "cyberStyle", Arial, Helvetica, sans-serif;
    color: #ffffff;
    
}

.PlacarPartidas > img {
    width: 100%;
    height: 100%;
}

.PlacarPartidas > h1 {
    position: fixed;
    bottom: 127px;
    font-size: 1em;
}

.PlacarPartida_pontuacao {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;

    position: fixed;
    bottom: 28px;

    background-color: #ff989800;
    width: 195px;
    height: 95px;
}

.PlacarPartida_pontuacao > p {
    flex-grow: 1;
    width: 100%;
    text-align: left;
    font-size: 0.8em;
}

/* Musica */

.musicControler {
    position: fixed;
    top: 10px;
    right: 5px;
    width: 160px;
    height: 155px;
    background-color: rgba(165, 42, 42, 0);
}

.TelaJogo__btnMusica, .proxMusic, .prevMusic {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #00000000;
    cursor: pointer;
}

.TelaJogo__btnMusica {
    order: 2;
}

.proxMusic {
    visibility: hidden;
    order: 3;
}

.prevMusic {
    left: -52%;
    visibility: hidden;
    order: 1;
}

.TelaJogo__btnMusica > img {
    width: 100%;
    height: 100%;
}

.prevMusic > img {
    width: 100%;
    height: 100%;
}

.proxMusic > img {
    width: 100%;
    height: 100%;
}

.music_volume_control{
    position: relative;
    
    display: none;
    padding: 10px;

    width: 70px;
    height: 100px;

    position: relative;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(192, 192, 255, 0);
}

#music_volume_control {
    appearance: none;
    writing-mode: vertical-lr;
    width: 5px; 
    height: 100px; 

    cursor: pointer;
    rotate: 180deg;
    position: absolute;
    left: 33px;
    top: 0;
}

#music_volume_control::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: #ffffff00;
    cursor: pointer;
    -webkit-appearance: none;
    background-image: url("../../SpriteBotoes/Pipoya VFX WarpPortal/ezgif.com-animated.gif");
    background-size: cover;
    margin-left: -10px;
}

#music_volume_control::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    
    background-color: #4b4b4b;
    
  }

.volumeMusicaAtual {
    font-family: "cyberStyle", Arial, Helvetica, sans-serif;
    color: #ffffff;

    position: relative;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

.controlesPlayerMusic{
    background-color: rgba(210, 105, 30, 0);
    width: 160px;
    height: 45px;
    position: relative;
    top: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5px;

}